<!DOCTYPE html>
<html>
<head>
  <title>OpenAI Assistance</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div id="chat-container">
    <div id="header">
      <h1>NavigAide Assistance</h1>
    </div>
    <div id="chat-log"></div>
    <div id="user-input-container">
      <input type="text" id="user-input" placeholder="Type your message..." autofocus />
      <button id="enter-button">Enter</button>
    </div>
    <div id="recommendation-container">
      <h3>Recommended Messages:</h3>
      <ul id="recommendation-list">
        <li onclick="addRecommendationToInput('Hello Assistance.')">Hello Assistance.</li>
        <li onclick="addRecommendationToInput('What is the deductible')">What is the deductible</li>
        <li onclick="addRecommendationToInput('Compare the deductible amount for both plans')">Compare the deductible amount for both plans</li>
        <li onclick="addRecommendationToInput('What is the copay for specialist visit')">What is the copay for specialist visit</li>
        <li onclick="addRecommendationToInput('Suggest a plan for me')">Suggest a plan for me</li>
      </ul>
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>
